<div class="container">
  <h1>Reestablecer contraseña</h1>
  <form id="forgetPasswordForm">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Introduce tu email"
      name="email"
    />
    <br />
    <button type="submit" class="btn btn-dark">Enviar correo para reestablecer contraseña</button>
    <div
      class="d-flex align-items-center"
      id="loadingSpinner"
      style="visibility: hidden"
    >
      <strong>Procesando...</strong>
      <div
        class="spinner-border ms-auto"
        role="status"
        aria-hidden="true"
      ></div>
    </div>
  </form>
</div>
<script src="/js/forgetPassword.js"></script>