<div class="container">
  <h1>Reestablecer contrase単a</h1>
  <form id="resetPasswordForm">
    <label for="email">Nueva contrase単a</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Introduce tu nueva contrase単a"
      name="password"
    />
    <br />
    <button type="submit" class="btn btn-dark">Reestablecer contrase単a</button>
  </form>
</div>
<script src="/js/resetPassword.js"></script>